@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

*{
    font-family:"Titillium Web";
    text-align:center;
}

div{
    border:20px,solid rgba(0, 0, 0, 0);
    margin:30px;
    background-color: rgb(136, 215, 224);
    padding:30px;
}
.title{
    font-size: 50px;
}
.main{
    font-size: 20px;
}
.result
{
    font-size: 30px;
}
.btn-success{
    width:300px;
    height: 60px;
    font-size: 100px;
}