@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
  font-family: "Noto Sans";
}

h1 {
  padding: 15px;
}

h2 {
  font-size: 26px;
  color: red;
  border-bottom: 2px double rgb(124, 217, 233);
}

footer {
  text-align: center;
  background-color: rgb(169, 230, 169);
  color: black;
}

.mainspace {
  background-color: rgb(255, 255, 255);
  margin: 20px;
}

div {
  border: 1px solid #ededed;
  box-shadow: 0px 1px 20px 0px rgba(74, 211, 170, 0.4);
}

.titlebox {
  margin: 40px;
}

.buttonsection {
  float: right;
  margin: 20px;
}

.mainbox {
  padding: 20px;
  margin: 15px;
  margin-left: 180px;
}

.mainimg {
  width: 250px;
  height: 200px;
  float: right;
  margin: 60px;
}

.categorybox {
  margin: 15px;
  width: 150px;
  float: left;
  font-size: 15px;
  height: 490px;
}
