
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@1,500;1,700&display=swap');

*{
    font-family: "Roboto Mono"
}

h2 {
    font-size: 50px;
    color :blueviolet;
    border-bottom : 1px solid 
}

.mainspace {
    background-color :antiquewhite;
}

div {
    /* padding border margin */
    /* 각각의 테두리의 이름 */

    border : 1px solid #ededed;
    /* 실선 : solid */
    box-shadow: 0px 1px 20px 0px rgba(115,80,212, 0.4);
    margin : 14px;
}

.titlebox {
    margin-top : 15px;
}

.mainbox {
    margin-left : 150px;
    margin-top : 15px;
}

.categorybox {
    width : 120px;
    float : left;
    font-size: 15px;
    margin : 15px;
    height : 665px;
}
.titlebutton {
    float : right;
    margin : 20px;
}

.mainImg {
    width: 300px; 
}

.imgSection {
    float: right;
    margin: 15px;
    padding-top: 60px; 
}

.mainTitle {
    margin: 25px;
    font-weight: bold; 
}

.footer {
    text-align: center;
}