h1 {
    border-bottom: 1px #ebebeb;
}

h2 {
    font-size: 26px;
    font-weight: bold;
    color: #282828;
    border-bottom: 1px solid black;
    margin-bottom: 16px;
    padding-bottom: 5px;
}
.titleButton {
    float: right;
    margin-top: 6px;
}

.titlebox {
    padding: 20px;
    border: 1px solid #ebebeb;
    box-shadow: 0px 1px 20px 0px rgba(115, 80, 212, 0.4);
}

.searchBox {
    text-align: right;
}

.mainSpace {
    width: 1400px;
    padding: 30px;
    margin: 30px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ebebeb;
    box-shadow: 0px 1px 20px 0px rgba(115, 80, 212, 0.4)
}

.maintitle {
    margin-left: 25px;
    font-weight: bold;
}

.mainbox {
    width: 1080px;
    height: 1200px;
    margin: 30px;
    margin-left: 260px;
    margin-bottom: 16px;
    padding: 30px;
    padding-bottom: 5px;
    border: 1px solid #ebebeb;
    box-shadow: 0px 1px 20px 0px rgba(115, 80, 212, 0.4);
}

.imgSection {
    float: right;
    padding-top: 60px;
    margin: 15px;
}

.mainImg{
    width: 300px;
}

.categorybox {
    width: 240px;
    height: 1200px;
    margin-top: 30px;
    margin-bottom: 16px;
    padding-top: 15px;
    padding-bottom: 5px;
    border: 1px solid #ebebeb;
    box-shadow: 0px 1px 20px 0px rgba(115, 80, 212, 0.4);
    float: left;
}

.naver {
    text-align: center;
}

.foot {
    text-align: center;
}