h2{
    font-size: 26px;
    color: blue;
    border-bottom: 1px solid black;
}

.MainSpace{
    background-color: white
}

div{
    /* margin border padding
    padding border margin*/

    border: 1px solid #ededed;
    box-shadow: 8px 1px 20px 0px rgba(226, 61, 83, 0.4);
    /* x크기 y크기 흐림정도 번짐정도 색깔*/
}

.titlebox{
    margin-top: 15px
}

.Bottonsection

.mainbox{
    margin: 15px;
}

.Mainimg{
    /*width 가로의 길이 height 세로의 길이 */
    width: 250px;
    float: right;
    margin: 15px;
}

