@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: "Noto Sans";
}

h1 {
    padding: 15px;
}

h2{
    font-size: 26px;
    color:red;
    border: 1px solid rgb(38, 35, 182);
}

footer{
    text-align: center;
}

.mainspace {
    background-color:rgb(255, 255, 255);
}

div{
    border: 1px solid #920f0f;
    box-shadow: 0px 1px 20px 0px rgba(80, 212, 108, 0.4); /* x y 흐림정도 번짐정도 색깔*/
}

.titlebox {
    margin-bottom : 20px;
}

.buttonsection{
    float : right;
    margin: 20px;
}

.mainbox {
    margin-left: 150px;
}

.categorybox{
    width : 120px;
    float : left;
    font-size: 20px;
    margin : 15px;
    height : 380px;
}

.mainpicture{
    width : 250px;
    float : right;
    margin: 15px;
    
}

